h1{
  font-family: helvetica;
}

p {
  color: lightgrey;
}

p#something-else{
  background-color: purple;
}

.more-content{
  background-color: #0000FF;
}

#something-else{
  border: 5px dashed #FF0000;
}
