h1{
  font-family: helvetica;
}

p {
  font-family: sans-serif;
  font-size: 14px;
}

.header{
  font-size: 80px;
  text-align: center;
  color: gold;
  background-color: black;
  border: 5px solid blue;
}

.paragraph1{
  font-size: 24px;
  text-align: center;
  background-color: green
}

#paragraph3{
  font-size: 24px;
  text-align: center;
  background-color: green;
}

.paragraph2{
  font-size: 24px;
  text-align: center;
  background-color: green;
}

ul{
  font-size: 20px;
}

h2{
  font-size: 24px;
}
